.form {
  display: flex;
  gap: 12px;
  max-width: 567px;
  margin: 0 auto 74px;
}

.items {
  display: inline-flex;
  margin: 0 16px 62px 0;
}

.list {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}